[Unit]
Description=ReSyMo Agent
After=network.target
Wants=network.target

[Service]
Type=exec
ExecStart=/usr/local/sbin/resymo-agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
